Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.10.4
itsdangerous==0.24
peewee==2.5.1
wsgiref==0.1.2
bleach
GitPython==0.3.6
beautifulsoup4==4.3.2
mistune==0.5.1
hypothesis==1.1.1
hypothesis-fakefactory==0.5.1
pillow
slugify==0.0.1
flask-script==2.0.5
Beaker==1.7.0
colorlog
gevent
libsass==0.11.2
cssmin
PyYAML
Flask-Assets
flask-login
