<!DOCTYPE html>
<html>
  <head>
  {% assets "css" %}
  <link rel="stylesheet" href="{{ASSET_URL}}">
  {% endassets %}
  </head>
<body>
  <header class="row">
    <div class="small-10 columns">
      <h1>SpaceWiki</h1>
    </div>
  </header>
  <main>
  <div class="row">
    <div class="small-8 small-centered columns blurb">
      <p>No Such Wiki
    </div>
  </div>
  <div class="row">
    <div class="small-4 small-centered columns create-wiki">
      <p>The wiki you're looking for does not exist yet!
      <p>Create it <em>now</em>
      {% include "_signin.html" %}
    </div>
  </div>
  </main>
</body>
</html>

