{% extends "_layout.html" %}
{%block content}
<<div class="row pricing">
  <div class="large-12 columns">
    <h2>Pricing</h2>
  </div>
</div>
<div class="row pricing">
  <div class="large-4 columns">
    <div class="cleft">
      <h3>Non-profits and Communities</h3>
      <ul>
        <li>Unlimited users</li>
        <li>Unlimited pages</li>
        <li>20MB attachments</li>
        <li class="the-price">Free</li>
      </ul>
    </div>
  </div>
    <div class="large-4 columns">
      <div class ="cmid">
      <h3>Startup</h3>
      <ul>
        <li>1-25 Users</li>
        <li>Unlimited pages</li>
        <li>50GB attachments</li>
        <li class="the-price">$20 per month</li>
      </ul>
  </div>
</div>
  <div class="large-4 columns">
    <div class ="cright">
      <h3>Corporate</h3>
      <ul>
        <li>Unlimited Users</li>
        <li>Unlimited pages</li>
        <li>500GB attachments</li>
        <li class="the-price">$50 per month</li>
      </ul>
    </div>
  </div>
</div>
{% endblock%}
