<form method="post" action="{{url_for('save', slug=slug)}}">
  {% if title %}
  <div class="row">
    <div class="large-12 columns">
      <label>Title
        <input type="text" value="{{title}}" name="title">
      </label>
    </div>
  </div>
  {% endif %}
  <div class="row">
    <div class="large-9 columns">
      <label id="editor_toggle">Use ACE editor <input type="checkbox" id="editor_toggle_value"></label>
      <textarea name="body" id="body">{% if revision %}{{revision.body}}{% endif %}</textarea>
      <div id="editor"></div>
    </div>
    <div class="large-3 columns">
      <h2>Attachments</h2>
      <ul class="attachment-list">
        {% if page %}
          {% for attachment in page.attachments %}
          <li>
            <img src="{{url_for('get_attachment', slug=slug, fileslug=attachment.slug)}}">
            <input type="text" value="{{"{{"}}attachment:{{attachment.slug}}{{"}}"}}">
          </li>
          {% endfor %}
        {% endif %}
        <li><a class="small button" href="{{url_for('upload', slug=slug)}}">Upload</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Commit message:<input type="text" name="message"></label>
      <button type="submit">Save</button>
    </div>
  </div>
</form>
