{% extends "layout.html" %}

{% block content %}
<div class="row">
  <div class="small-12 columns">
    <h1>History for <em>{{page.title}}</em></h1>
  </div>
</div>
<table>
  <tr>
    <th>Revision</th>
    <th>Timestamp</th>
    <th>Commit message</th>
    <th>Actions</th>
  </tr>
  {% set date = None %}
  {% for rev in page.revisions %}
  <tr>
    {% if rev.timestamp.date() != date %}
      <th colspan="4">
        {{rev.timestamp.date()}}
      </th>
      {% set date = rev.timestamp.date() %}
    {% endif %}
  </tr>
  <tr>
    <td>
      <a href="{{url_for('view', slug=rev.page.slug, revision=rev.id)}}">{{rev.id}}</a>
      <span class="additions">+{{rev.diffStatsToPrev()['additions']}}</span>
      <span class="subtractions">-{{rev.diffStatsToPrev()['subtractions']}}</span>
    </td>
    <td>
      {{rev.timestamp}}
    </td>
    <td>
      {{rev.message}}
    </td>
    <td>
      <a href="{{url_for('revert', slug=page.slug, revision=rev.id)}}"
        class="button">Revert</a>
      <a href="{{url_for('view', slug=rev.page.slug, revision=rev.id)}}"
        class="button">View</a>
      {% if rev.prev %}
        <a href="{{url_for('diff', slug=rev.page.slug, start=rev.prev.id, end=rev.id)}}"
          class="button">Diff against {{rev.prev.id}}</a>
      {% endif %}
      {% if rev.next %}
        <a href="{{url_for('diff', slug=rev.page.slug, start=rev.next.id, end=rev.id)}}"
          class="button">Diff against {{rev.next.id}}</a>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
