<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{url_for('static', filename='lib/app.css')}}">
  <title>
    {% block title %}{% block subtitle %}{% endblock %} - {{settings.SITE_NAME}}{% endblock %}
  </title>
</head>
<body>
<header class="row">
  <div class="small-8 columns">
    <h1><a href="{{url_for('view')}}">{{settings.SITE_NAME}}</a></h1>
  </div>
  <div class="small-4 columns">
    <p><form method="get" action="{{url_for('search')}}">
      <div class="row collapse postfix-round">
        <div class="small-10 columns">
          <input type="text" name="q" placeholder="{% if random_page %}{{random_page.title}}{% endif %}">
        </div>
        <div class="small-2 columns">
          <button type="submit" class="button postfix">Search</button>
        </div>
      </div>
    </form>
  </div>
</header>
{% block canvas %}
<main class="row">
  <div class="small-10 columns" id="content">
    {% block content %}
    {% endblock %}
  </div>
  <div class="small-2 columns" id="sidebar">
    {% block sidebar %}
    {% endblock %}
  </div>
</main>
{% endblock %}
<footer class="row">
  <div class="small-12 columns">
    <p class="plug">Powered by <a href="https://github.com/tdfischer/spacewiki">SpaceWiki</a>
    <p class="version">Running <a href="https://github.com/tdfischer/spacewiki/commit/{{git_version}}">{{git_version}}</a>
  </div>
</footer>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.1.9/ace.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.1.9/mode-markdown.js"></script>
<script>
  var editor = ace.edit("editor");
  editor.setTheme("ace/theme/monokai");
  editor.getSession().setMode("ace/mode/markdown");
  editor.setValue(document.getElementById("body").value);
  editor.getSession().on('change', function(e) {
    document.getElementById('body').value = editor.getValue()
  });
</script>
</html>
