{% extends "layout.html" %}

{% block subtitle %}
{{revision.page.title}}
{% endblock %}


{% block content %}

{% if revision.page.slug != settings.INDEX_PAGE %}
<h1>
  {{revision.page.title}}
</h1>
{% endif %}

{% if redirectFrom %}
<p><small>Redirected from <a
    href="{{url_for('edit', slug=redirectFrom)}}">{{redirectFrom}}</a></small>
{% endif %}

<p>{{revision.body | wikitemplates | wikilinks | markdown | safetags | safe}}

<ul class="softlinks">
{% for softlink in revision.page.softlinks_out %}
<li><a href="{{url_for('view', slug=softlink.dest.slug)}}">{{softlink.dest.title}}</a></li>
{% endfor %}
<br style="clear:both">
</ul>
{% endblock %}

{% block toolbar %}
<ul class="left page-tools">
  <li><a href="{{url_for('edit', slug=revision.page.slug)}}">Edit</a></li>
  <li class="divider"></li>
  <li class="history-nav">
    {% if revision.prev %}
      <a href="{{url_for('view', slug=revision.page.slug, revision=revision.prev.id)}}">
        &laquo;{{revision.prev.id}}
      </a>
    {% else %}
      &laquo;❌
    {% endif %}
    Revision {{revision.id}}
    {% if revision.next %}
        <a href="{{url_for('view', slug=revision.page.slug, revision=revision.next.id)}}">
          {{revision.next.id}}&raquo;
        </a>
    {% else %}
      ❌&raquo;
    {% endif %}
  </li>
  <li><a href="{{url_for('history', slug=revision.page.slug)}}">Full History</a></li>
  <li class="divider"></li>
  <li><a href="{{url_for('allPages')}}">All Pages</a></li>
</ul>
{% endblock %}
