{% extends "layout.html" %}

{% block subtitle %}
{{revision.page.title}}
{% endblock %}


{% block content %}
<h1>{{revision.page.title}}</h1>
{% if redirectFrom %}
<p><small>Redirected from <a
    href="/.edit/{{redirectFrom}}">{{redirectFrom}}</a></small>
{% endif %}
{{revision.body | wikilinks | markdown}}

<ul class="softlinks">
{% for softlink in revision.page.softlinks_out %}
<li><a href="/{{softlink.dest.slug}}">{{softlink.dest.title}}</a></li>
{% endfor %}
<br style="clear:both">
</ul>
{% endblock %}

{% block sidebar %}
<h1>Tools</h1>
{% filter markdown %}
* [Edit](/.edit/{{revision.page.slug}})
{% endfilter %}
{% endblock %}
