{% extends "layout.html" %}

{% block subtitle %}
{{revision.page.title}}
{% endblock %}


{% block content %}
<h1>{{revision.page.title}}</h1>
{% if redirectFrom %}
<p><small>Redirected from <a
    href="{{url_for('edit', slug=redirectFrom)}}">{{redirectFrom}}</a></small>
{% endif %}
{{revision.body | wikitemplates | wikilinks | markdown | safetags | safe}}

<ul class="softlinks">
{% for softlink in revision.page.softlinks_out %}
<li><a href="{{url_for('index', slug=softlink.dest.slug)}}">{{softlink.dest.title}}</a></li>
{% endfor %}
<br style="clear:both">
</ul>
{% endblock %}

{% block sidebar %}
<h1>Tools</h1>
<ul>
  <li><a href="{{url_for('edit', slug=revision.page.slug)}}">Edit</a></li>
  <li><a href="{{url_for('history', slug=revision.page.slug)}}">History</a></li>
</ul>
{% endblock %}
